<div class="card border-success mb-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-success">
    {{ product.productName | uppercase}}
  </div>
  <div class="card-body">
    <h5 class="card-title">Price: {{ product.price | currency: "INR" }}</h5>
    <p class="card-text">{{ product.description }}</p>
  </div>
  <div class="card-footer bg-transparent border-success">
    <input
      *ngIf="product.productQty"
      type="button"
      class="btn btn-primary"
      value="Buy Product"
      (click)="buyThisProduct(product)"
    />
    <div *ngIf="!product.productQty" class="alert alert-danger" role="alert">
      Product No longer Available
    </div>
  </div>
</div>
<!-- <div class="spinner-border text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div> -->
